# Python para Ciência de Dados - Básico

In [2]:
import pandas as pd #Biblioteca para analise de dados
import numpy as np
df=pd.read_csv('AppleStore.csv')  # Arquivo com os dados
Dp=pd.read_csv('datapoint.txt',sep=" / ")
Dp

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

,'Nome_aplicativo','Preço','Moeda','Contagem_classificação_tot','Avaliação_usuário'
0,'Facebook','0.0','USD','2974676','3.5'
1,'Instagram','0.0','USD','2161558','4.5'
2,'Clash of Clans','0.0','USD','2130805','4.5'
3,'Temple Run','0.0','USD','1724546','4.5'
4,'Pandora - Music & Radio','0.0','USD','1126879','4.0'

## 3. Listas e Repetição (For)

Continuando o estudo, vamos trabalhar com a tabela acima. Cada valor da tabeça é um **Data Point**(Ponto de dados). Para a primeira linha temos 5 data points.
    
    - Facebook
    - 0.0
    - USD
    - 2974676
    - 3.5
    
Uma coleção de **Data points** compõe um **Data Set** (conjunto de dados). Podemos entender a tabela acima como uma coleção de data points, então podemos chamar a tabela inteira como uma coleção de dados. E nossa coleção de dados tem 5 linha e 5 colunas.

Quando trabalhamos com conjunto de dados, precisamos armazenar-los na memória para poder recuperar e manipular-los depois, ou seja, poderiamos armazenar cada dado em uma variável. Abaixo temos um exemplo de como podemos armazenar dados na memória:
```python
    nome_linha1='Facebook'
    preco_linha1=0.0
    moeda_linha1='USD'
    classific_linha1=2974676
    avaliac_linha1=3.5
```

Acima, armazenamos,
  
  - O texto "Facebook" como uma **String**;
  - O preço $0.0$ como um **Float**;
  - O texto "USD" como uma String;
  - A contagem declassificação $2974676$ como um **Inteiro**;
  - A avaliação de Usuário $3.5$ como um Float.
  
Criar uma variável para cada data point em nosso conjunto de dados seria um processo trabalhoso. Felizmente, podemos armazenar os dados eficientemente usando **Listas**. Abaixo podemos ver como podemos criar uma lista de data points para a primeira linha:

[In]
```python
linha1=['Facebook',0.0, 'USD', 2974676, 3.5]
print(linha1)
type(linha1) #retorna o tipo da variável

```
[Out]

['Facebook',0.0, 'USD', 2974676, 3.5]

list

Para criar a lista acima, nos:

- Colocamos uma sequência de Data Points e separamos cada um por virgula;
```python
'Facebook', 0.0, 'USD', 2974676, 3.5
```
- Cercamos a sequência com cochetes.
```python
['Facebook', 0.0, 'USD', 2974676, 3.5]
```

Depois de criar-mos a lista armazenamos na memória atribuindo a uma variável com nome **linha1**.

#### Exercício

1. Armazene uma segunda linha 
```python
'Instagram', 0.0, 'USD', 2161558, 4.5
```
como uma lista em uma variável de nome **row_2** (Linha_2).
2. Armazene uma terceira linha
```python
'Clash of Clans', 0.0, 'USD', 2130805, 4.5
```
como uma lista em uma variavel de nome **row_3**.

[
row_2=\['Instagram',0.0,'USD',2161558,4.5\]
row_3=\['Clash of Clans', 0.0, 'USD', 2130805, 4.5\]
//sem as "\"
]:<>

In [ ]:
row_2 = 
row_3 =

### 3.1 Listas
Uma lista pode conter varios ou o mesmo tipo de dados. Uma lista como [4,5,6] tem o mesmo tipo de dado (Inteiros), enquanto que a lista ['Facebook', 0.0, 'USD', 2974676, 3.5] contém dados do tipo:

- 2 strings ("Facebook","USD")
- 2 floats (0.0,3.5)
- 1 inteiro (2974676)

Para encontrar o tamanhao de uma lista podemos usar o comando **len()**:

[In]
```python
row_1=['Facebook', 0.0, 'USD', 2974676, 3.5]
print(len(row_1))
list_1=[1,5,9]
print(len(list_1))

list_2=[]
print(len(list_2))
```
[Out]

5

3

0

Para listas pequenas basta contar os pontos de dados, porém o comando **len()** é bastante eficiente quando a lista é muito grande.

Cada elemento da lista (Data points) é associado a um número específico, chamado de **index number**(Número de Indice), que indica sua posição na lista. Os indices sempre começam no 0, o segundo elemento com indice 1, assim por diante.
```python
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
              0       1     2       3      4
                            #Indices
```
Uma forma de saber a posição de um elemento da lista, identificar sua posição na lista e subtrair 1. Por exemplo, a sting "USD" é o terceiro elemento na lista, para achar  seu indice basta fazer a subtração, 3-1=2.

Saber o indice de um número da lista ajuda a isolar este elemento. Assim na lista **row_1**, por exemplo, o primeiro elemento ("Facebook") com o indice 0 pode ser chamado pelo código **row_1[0]**.
[In]
```python
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_1[0]
```
[Out]

'Facebook'

A sintaxe para isolar o elemento individual da lista tem como modelo **Nome_lista[Numero_Indice]**.

Abaixo tem uma forma de recuperar cada elemento da lista **row_1**.
[In]
```python
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
print(row_1[0])
print(row_1[1])
print(row_1[2])
print(row_1[3])
print(row_1[4])
```
[Out]

'Facebook'

0.0

'USD'

2974676

3.5

Agora que isolar um elemento de uma lista é fácil, vamos selecionar as avaliações para o Facebook e Instagram e encontrar a diferença e a média dos dois.
[In]
```python
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]

dif= row_2[4]-row_1[4]
media_avali= (row_1[4]+row_2[4])/2

print(dif)
print(media_avali)
```
[Out]

1.0

4.0

#### Exercício
Na célula abaixo você pode ver as 3 primeiras linhas.

O quarto(indice 3) elemento de cada lista representa ao número de avaliações dos aplicativos. Isole o quarto elemento de cada list, e obtenha a média entre os valores.

1. isole o quarto elemento das 3 lista em 3 novas variáveis de nomes **rating_1**, **rating_2** e **rating_3** (avaliação).
2. some os 3 números isolados anteriormente e armazene em uma varavel de nome **Total**.
3. Divida a soma por 3 para obter a média do número de avaliações das 3 primeiras linha, salvando este valor em uma variável de nome **average**(média).

[
row_1 = \['Facebook', 0.0, 'USD', 2974676, 3.5\]
row_2 = \['Instagram', 0.0, 'USD', 2161558, 4.5\]
row_3 = \['Clash of Clans', 0.0, 'USD', 2130805, 4.5\]
ratings_1=row_1\[3\]
ratings_2=row_2\[3\]
ratings_3=row_3\[3\]
total=ratings_1+ratings_2+ratings_3
average=total/3

//ignore "\"
]:<resposta>

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

#escreva seu código

average=  #média